header {
  position: fixed;
  width: 100%;
  color: black;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

.kaza-logo {
  font-weight: bold;
  font-size: 22px;
  font-family: "Times New Roman";
  color: black;
  z-index: 1000;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Стандартный синтаксис */
}

.kaza-logo:active {
  transform: scale(1.02);
}

@media screen and (max-width: 400px) {
  .header-dialog {
    li {
      font-size: 13px !important;
      padding: 5px;
    }
  }
}
